/* Gobal */

:root {
  --acc1-color: #f9826c;
  --acc2-color: #ff446c;
  --acc2b-color: #cb2040;
  --white-color: #ffffff;
  --white2-color: #c6c6c6;
  --black-color: #0b0b0c;
  --black2-color: #101014;
  --black3-color: #16161a;
  --black4-color: #606060;
  --card-color: #0e0b16;
}

::selection {
  color: var(--acc2-color);
  background-color: var(--white-color);
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-input-placeholder {
  color: var(--white2-color);
  opacity: 0.65;
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--white2-color);
  opacity: 0.65;
}

*::placeholder {
  /* modern browser */
  color: var(--white2-color);
  opacity: 0.65;
}

html,
body {
  overflow-anchor: none;
  touch-action: manipulation;
  scroll-behavior: smooth;
  width: 100%;
  /* height: 100vh; */
  /* height: fill-available;
  height: -webkit-fill-available; */
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: var(--black2-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  -webkit-tap-highlight-color: #00000000;
  user-select: none;
  overscroll-behavior-y: contain;
}

h1 {
  font-size: clamp(2.8rem, 10vw, 6.5em);
}

h2 {
  font-size: clamp(1.7rem, 3.6vw, 4.5em);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.3rem, 2.8vw, 3.5em);
  font-weight: 300;
}

.bold {
  font-weight: 600 !important;
}

.fade {
  color: var(--white2-color) !important;
  opacity: 0.4;
}

.outline {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  color: var(--black2-color) !important;
  -webkit-text-stroke: 1.5px var(--white-color) !important;
}

.superscript {
  vertical-align: super;
  font-size: smaller;
}

img {
  width: 100%;
  height: auto;
}