/* body {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  width: auto;
  overflow: hidden;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes maxWidth {
  from {
    max-width: 0%;
  }

  to {
    max-width: 100%;
  }
}

@keyframes flickerAnimation {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 1;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.2;
  }
}

@keyframes pulsate {
  0% {
    filter: drop-shadow(-2px 0 2px var(--pill-glow-color)) drop-shadow(2px 0 4px var(--pill-glow-color));
  }

  100% {
    filter: drop-shadow(-5px 0 7px var(--pill-glow-color)) drop-shadow(5px 0 7px var(--pill-glow-color));
  }
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.splash-image {
  max-width: 60%;
  height: auto;
}

.splash-text {
  position: absolute;
  /* Position the text absolutely */
  bottom: 10%;
  /* Adjust as needed */
}

.loader {
  width: 10em;
  height: 10em;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 10em;
  height: 10em;
  border: 0.8rem solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 3.2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 0 var(--acc2-color));
}

.loader::after {
  border-color: var(--acc2-color);
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 0.1rem var(--acc2-color));
  }

  20% {
    filter: drop-shadow(0 0 2rem var(--acc2-color));
  }

  50% {
    filter: drop-shadow(0 0 7rem #ffffffb6);
  }

  80% {
    filter: drop-shadow(0 0 2rem var(--acc2-color));
  }

  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 0.1rem var(--acc2-color));
  }
}

.main-content {
  display: none;
  animation: controlIn 1800ms linear;
  margin: 0 15px;
  overflow: hidden;
}

@keyframes controlIn {
  0% {
    opacity: 0;
    filter: blur(50px) grayscale(1) brightness(0.3);
  }

  30% {
    filter: blur(20px) grayscale(0.7) brightness(0.4);
  }

  50% {
    filter: blur(1px) grayscale(0.4) brightness(0.7);
  }

  100% {
    filter: blur(0px) grayscale(0) brightness(1);
    opacity: 1;
  }
}

.control-panel {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.status-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.status-pill {
  --pill-color: #94ca5b;
  --pill-glow-color: #94ca5b8f;
  margin: 25px;
  height: 15px;
  width: auto;
  filter: drop-shadow(-2px 0 2px var(--pill-glow-color)) drop-shadow(2px 0 2px var(--pill-glow-color));
  animation: pulsate 1.2s infinite ease-in-out alternate;
}

.status-pill.inactive {
  --pill-color: var(--acc2b-color);
  filter: drop-shadow(-4px 0 4px #cb203fbd) drop-shadow(4px 0 4px #cb2040);
  animation: none;
}

.status-pill rect {
  fill: var(--pill-color);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 20%;
  max-height: 140px;
  min-height: 80px;
}

button {
  display: flex;
  background-color: var(--black3-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: 10%;
  padding: 10px;
  height: 120px;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  line-height: 0.95;
}

.glow-icon {
  height: 64px;
  width: auto;
  transform: translate(-7px, 0);
}

@media (display-mode: standalone),
(display-mode: fullscreen),
(display-mode: minimal-ui),
(min-height: 1150px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px;
    min-height: 120px;
    height: 50%;
  }

  .glow-icon {
    max-height: 100px;
    margin-top: auto;
    height: 9vh;
  }

  .header-title {
    height: auto;
    font-size: 2.1vh;
  }
}

/* EXPRESSION */
.expression {
  display: flex;
  flex-direction: column;
  height: 80%;
}

hr.cenhr {
  margin: 20px auto;
  width: 70%;
  max-width: 0%;

  transition: max-width ease 100ms,
    transform ease 100ms;
  animation: maxWidth 1200ms linear 700ms forwards;
}

.expression-title {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  align-items: end;
}

span#expBtnCount {
  display: inline-block;
  background-color: var(--acc2-color);
  border-radius: 16px;
  padding: 1px 7px;
  font-size: 0.5rem;
  text-align: center;
}

.expression-title h2 {
  font-size: 1.6rem;
}

.dotted-array {
  max-width: 270px;
  width: 44%;
  margin-right: calc(10% - 30px);

  transition: transform 100ms ease,
    opacity ease 200ms;
  animation: fadeIn 3000ms linear 500ms forwards;
}

.expression-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  height: 100%;
  z-index: 1;
}

.expression-current-container {
  height: 100%;
  margin: 10px 0;
}

.expression-current {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  overflow: hidden;
  transition: max-width ease 100ms,
    transform ease 100ms,
    clip-path 0.5s ease-in-out;
  animation: expCurIn 1000ms ease;
}

.expression-current.active {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@keyframes expCurIn {
  0% {
    max-width: 0%;
    transform: scaleY(0);
  }

  20% {
    max-width: 0%;
  }

  60% {
    transform: scaleY(0.4);
  }

  100% {
    max-width: 100%;
    transform: scaleY(1);
  }
}

.expression-current img {
  max-height: 160px;
  height: 80%;
  width: 70%;
  filter: invert(0);

  transition: opacity ease 200ms;
  opacity: 0;
  animation: fadeIn 500ms ease 700ms forwards;
}

.sub-button {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  height: 50%;
  max-height: 138px;
  align-items: center;

  transition: max-width ease 100ms;
  animation: maxWidth 1800ms ease-in-out;
}


button.exp-btn {
  justify-content: center;
  min-width: 120px;
  font-size: 2rem;
  align-items: center;
  height: 100%;
  padding: 24px 10px;
}

button.exp-btn img {
  height: -webkit-fill-available;
  filter: invert(1);
  transition: filter 800ms ease 50ms,
    background-color 800ms ease;
  /* -webkit-transition: -webkit-filter 500ms linear; */
}

button.exp-btn.active {
  background-color: var(--white-color);
  color: var(--black-color);

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

button.exp-btn.active img {
  filter: invert(0);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Viseme */
.viseme {
  /* height: 50%; */
}

.slider-container {
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img {
  transform: scale(0.9);
  box-shadow: 5px 5px 40px -1px var(--shadow);
}

.viseme-vl {
  height: 48px;
  border-left: 2px solid var(--white-color);
  padding: 0;
  margin: 0px 12px;
}

button.viseme-btn {
  background-image: url(asset/svg/viseme-wave.svg);
  background-repeat: no-repeat;
  background-position: -20px 10px;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  height: 175px;
  width: 100%;
  border-radius: 10px;
  opacity: 0.5;
  filter: grayscale(100%);

  clip-path: circle(10% at 125% 0%);
  transition: opacity 0.4s ease,
    filter 0.4s ease;
  animation: visBtnIn 1500ms linear 500ms forwards;
}

@keyframes visBtnIn {
  0% {
    clip-path: circle(10% at 125% 0%);
  }

  100% {
    clip-path: circle(150% at 20% 15%);
  }
}

button.viseme-btn.active {
  opacity: 1;
  filter: grayscale(0%);
}

button.viseme-btn.active .bitrate {
  opacity: 1;
}

button.viseme-btn.active img.inline-icn {
  transform: scaleY(1);
}

.viseme-btn .bitrate {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.55rem;
  padding: 7px 13px 0 0;
  opacity: 0;
  transition: opacity 1s ease 200ms;
}

.viseme-btn img {
  margin: 0 4px;
}

img.inline-icn {
  height: 2em;
  transform: scaleY(0.2);
  transition: transform 800ms ease;
}

.viseme-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.viseme-toggle {
  font-size: 0.8rem;
  font-weight: 500;
}

.viseme-toggle span {
  color: var(--white2-color);
  transition: color 500ms ease-out;
}

.viseme-toggle span.active {
  color: var(--white-color);
  font-weight: 600;
}


.viseme-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;
}

.viseme-title-container h2 {
  font-size: 1.8em;
}

.indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.indicator-dot {
  --dot-size: 8px;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--black3-color);
  border-radius: 50%;
  transition: background-color 300ms ease-out;
}

.viseme-value-slider {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 12px;
  font-size: 12px;
}

.viseme-value-slider h3 {
  color: var(--white-color);
}

.number-slider {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black3-color);
  border-radius: 8px;
  height: 2rem;
  width: 100%;
  margin: 5px auto;
  padding: 3px 0;
}

.number-slider span {
  color: var(--black4-color);
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  padding: 3px 5px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  width: 20px;
}

.number-slider span.active {
  background-color: var(--acc2-color);
  color: var(--white-color);
}

.number-slider span.default-dot::before {
  content: '.';
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

input.vsm-slider {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  opacity: 0;
}

/* Matrix */
.matrix {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 80px;
}

.matrix-container {
  display: flex;
  flex-direction: row;
}

.matrix .blub-icon {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: var(--black3-color);
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 7px;
}

.matrix .matrix-bncontrol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.matrix-silder-header {
  display: flex;
  justify-content: space-between;
}

.matrix-silder-header h3 {
  align-self: flex-end;
  margin-bottom: 2px;
}

.value-display {
  font-size: 2rem;
  text-align: right;
}

input.bn-slider {
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 50px;
  width: calc(100% - 90px);
  opacity: 0;
}

.dots-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dot {
  --dot-size: 12px;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--black3-color);
  border-radius: 50%;
  box-shadow: 0 0 0px #ffffffcc;
  transition: background-color 300ms ease-out,
    box-shadow 250ms ease-out 100ms;
}

.white-dot {
  background-color: white;
  box-shadow: 0 0 5px #ffffffcc;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black2-color);
}

footer hr {
  border: none;
  border-top: 2px solid var(--white2-color);
  margin: 10px 0;
}

.timer {
  color: var(--white2-color);
  font-weight: 200;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.connection-stat {
  display: flex;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info-l {
  display: flex;
  flex-direction: column;
}

.footer-info-r {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-info p {
  font-size: 12px;
  color: var(--white-color);
}

.footer-info p.sub {
  font-weight: 200;
  color: var(--black4-color);
  opacity: 0.3;
}

.footer-info img {
  width: 8px;
}