/* body {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  width: auto;
  overflow: hidden;
} */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.splash-image {
  max-width: 60%;
  height: auto;
}

.splash-text {
  position: absolute;
  /* Position the text absolutely */
  bottom: 10%;
  /* Adjust as needed */
}

.loader {
  width: 10em;
  height: 10em;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 10em;
  height: 10em;
  border: 0.8rem solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 3.2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 0 var(--acc2-color));
}

.loader::after {
  border-color: var(--acc2-color);
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 0.1rem var(--acc2-color));
  }

  20% {
    filter: drop-shadow(0 0 2rem var(--acc2-color));
  }

  50% {
    filter: drop-shadow(0 0 7rem #ffffffb6);
  }

  80% {
    filter: drop-shadow(0 0 2rem var(--acc2-color));
  }

  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 0.1rem var(--acc2-color));
  }
}

.main-content {
  display: none;
  opacity: 0;
  animation: fadeIn 1s forwards;
  justify-content: center;
  margin: 0 15px;
  width: auto;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

section.control-panel {
  /* max-width: 800px; */
  flex-direction: column;
  gap: 18px;
}

.status-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.status-pill {
  --pill-color: #94ca5b;
  --pill-glow-color: #94ca5b8f;
  margin: 25px;
  height: 15px;
  width: auto;
  filter: drop-shadow(-2px 0 2px var(--pill-glow-color)) drop-shadow(2px 0 2px var(--pill-glow-color));
  animation: pulsate 1.2s infinite ease-in-out alternate;
}

.status-pill.inactive {
  --pill-color: var(--acc2b-color);
  filter: drop-shadow(-4px 0 4px #cb203fbd) drop-shadow(4px 0 4px #cb2040);
  animation: none;
}

.status-pill rect {
  fill: var(--pill-color);
}

@keyframes pulsate {
  0% {
    filter: drop-shadow(-2px 0 2px var(--pill-glow-color)) drop-shadow(2px 0 4px var(--pill-glow-color));
  }

  100% {
    filter: drop-shadow(-5px 0 7px var(--pill-glow-color)) drop-shadow(5px 0 7px var(--pill-glow-color));
  }
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  color: var(--white2-color);
}

button {
  display: flex;
  background-color: var(--black3-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px;
  height: 100px;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  line-height: 0.85;
}

.glow-icon {
  margin: 0 10px;
  height: 50px;
  width: auto;
}

/* EXPRESSION */
/* .expression {
  display: flex;
  flex-direction: column;
  height: 50px;
} */

.expression hr {
  border: none;
  border-top: 2px solid var(--white2-color);
  margin: 0 10%;
}

.expression-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.expression-title h2 {
  font-size: 1.3rem;
}

.dotted-array {
  max-width: 270px;
  width: 40%;
  margin-right: calc(10% - 30px);
}

.expression-container {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  gap: 10px;
}

.expression-container img {
  width: 70px;
  padding: 0 10px;
}

.expression-container h3 {
  font-size: 0.8rem;
  color: unset;
  padding-left: 16px;
}

.sub-button {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
}

button.exp-btn {
  max-width: 70%;
  transition: max-width 1s ease,
    background-color 1s ease,
    color 1s ease;
}

.vl {
  border-left: 4px solid var(--black3-color);
  height: 100%;
  padding-right: 10px;
}

.btn-desc {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2px;
}

.sub-button button {
  justify-content: center;
  min-width: 100px;
}

button.exp-btn.active {
  background-color: var(--white-color);
  color: var(--black-color);
  max-width: 100% !important;
}

/* Viseme */
.viseme {}

button.viseme-btn {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  height: 120px;
  width: 100%;
  opacity: 0.5;
  filter: grayscale(100%);
  transition: opacity 0.4s ease,
    filter 0.4s ease;
}

button.viseme-btn.active {
  opacity: 1;
  filter: grayscale(0%);
}

.viseme-btn .bitrate {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.55rem;
  padding: 7px 13px 0 0;
}

.viseme-btn img {
  max-height: 50px;
  margin: 0 4px;
}

img.inline-icn {
  height: 2em;
}

.viseme-title {
  display: flex;
}

.viseme-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.viseme-title-container h2 {
  font-size: 1.8em;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black2-color);
}

footer hr {
  border: none;
  border-top: 2px solid var(--white2-color);
  margin: 10px 0;
}

.timer {
  color: var(--white2-color);
  font-weight: 200;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.connection-stat {
  display: flex;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info-l {
  display: flex;
  flex-direction: column;
}

.footer-info-r {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-info p {
  font-size: 12px;
  color: var(--white-color);
}

.footer-info p.sub {
  font-weight: 200;
  color: var(--black4-color);
  opacity: 0.3;
}

.footer-info img {
  width: 8px;
}